body{
	font-family:'Source code pro', Calibri, serif;
	margin:0px;
	padding:0px;
}

nav{
	width: 100%; 
	background-color: #424559; 
}

nav > ul{		/*signifie que l'on cible les éléments ul qui sont les enfants direct de nav */
	margin:0px;
	padding:0px;
}

nav > ul::after{
	content:"";
	display:block; 
	clear:both; 
}

nav > ul > li{
	float:left;
	position: relative;
}

nav > ul > li > a{
	padding:20px 30px;
	color: #FFF;
}

nav > ul > li:hover > a{
	padding: 15px 30px 20px 30px;
}

nav li{
	list-style-type: none;
}
.submenu{
	display:none;	/*on fait disparaitre les sous onglet car on veut 
					qu'ils ne s'affichent seulement au passage de la souris */
}

nav a{
	display:inline-block; 
	text-decoration:none;
}
nav li:hover .submenu{
	display: block;
	position:absolute;
	top:100%
	left:0px;
	padding:0px;
	z-index:1000;
}

.submenu li{
	border-bottom: 1px solid #CCC;
}

.submenu li a{
	padding:15px 30px;
	font-size:15px;
	color:#222538;
	width: 270px;
}

.menu-html:hover{
	border-top:5px solid #e44d26;
	background-color: rgba(228, 77, 38, 0.15);
}

.menu-css:hover{
	border-top: 5px solid #0070bb;
	background-color :rgba(000, 112, 192, 0.15);
}

.menu-javascript:hover{
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241, 211, 79, 0.15);
}

.menu-contcat:hover{
	border-top:5px solid #bbb;
	background-color:rgba(220, 220, 220, 0.15);
}

.menu-html .submenu{
	background-color: rgb(230, 100, 40);
}

.menu-css .submenu{
	background: rgb(000, 160, 240);
}

.menu-javascript .submenu{
	background-color:rgb(250, 215, 100);
}

.submenu li:hover a{
	color: #EEE;
	font-weight: bold; 
}

.menu-html .submenu li:hover{
	background-color: rgb(210, 77, 60);
}

.menu-css .submenu li:hover{
	background-color: rgb(000, 155, 200);
}

.menu-javascript .submenu li:hover{
	background-color: rgb(200, 165, 75);
}
